@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800&subset=latin-ext')
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin-ext')

body
  --primary-color #007488
  --secondary-color #ff7300
  --tertiary-color #4d4d4d
  --background-color #005766

*
  margin 0
  padding 0
  box-sizing border-box
  line-height 1

@page
  margin 0

.page
  width 210mm
  height 297mm
  margin 35px auto
  box-shadow 0 3px 6px rgba(0, 0, 0, 0.16)
  background-color #ffffff
  background-image url('./assets/background.png') /* Background pattern from Toptal Subtle Patterns */

  page-break-before always
  page-break-inside avoid
  overflow hidden
  font-size 0
  position relative
  outline 1px solid #e0e0e0
  display flex
  flex-direction row
  flex-wrap wrap
  align-items stretch
  font-family 'Open Sans', sans-serif
  color #2b2b2b

  @media print
    margin 0 auto
    box-shadow none
    outline 0

.topStripes
  height 5px
  width 100%

  > div
    display inline-block
    width 10%
    height 100%
    position relative

    &:nth-child(3n+1)
      background-color var(--primary-color)

    &:nth-child(3n+2)
      background-color var(--secondary-color)

    &:nth-child(3n+3)
      background-color var(--tertiary-color)

    &:after
      content ''
      position absolute
      width 100%
      height 25%
      bottom 0
      left 0
      background-color black
      opacity .1

.page .content
  height calc(100% - 5px)
  width 100%
  display flex
  flex-wrap wrap
  align-content space-between
  font-size 10px

  .sidebar
    width 300px
    background-color var(--background-color)
    background-image url('./assets/background.png') /* Background pattern from Toptal Subtle Patterns */
    color white
    display flex
    flex-direction column
    justify-content space-between
    height 100%

  .mainContent
    width calc(100% - 300px)

    &.full
      width 100%

    h2
      font-family 'Comfortaa', cursive
      text-align center
      text-transform uppercase
      margin-bottom 30px
      font-size 26px
      color #646464

  .column
    width 50%

    &:first-child
      height calc(100% - 300px)

    &:nth-child(2)
      height calc(100% - 200px)

  footer
    width 100%
    background-color var(--background-color)
    background-image url('./assets/background.png') /* Background pattern from Toptal Subtle Patterns */
    color white
    height 200px
    display flex

    .avatar
      width 280px
      margin-top -100px

      h1
        font-size 26px

        small
          font-size 13px

    .footerContent
      width calc(100% - 280px)
      display flex
      flex-direction column
      align-items center
      justify-content center
      align-content center
      padding-left 0
      padding-right 40px

      p
        font-size 22px
        font-weight 300
        text-align center
        margin-bottom 30px

      .contacts
        display flex
        flex-wrap wrap
        align-items center
        justify-content center
        align-content center
        padding 0

        li
          white-space nowrap
          margin 5px

.commonSection
  padding-bottom 32px

  &.brief
    padding-bottom 16px

  &:last-child
    padding-bottom 0

  h3
    color var(--primary-color)
    font-family 'Comfortaa', cursive
    font-weight 400
    font-size 18px
    margin-bottom 8px

    small
      color #2b2b2b
      display block
      font-size 14px
      margin-top 4px
      color var(--secondary-color)

  p
    line-height 1.5
    font-size 14px

.avatar
  width 100%
  padding 20px

  .avatarImage
    width 100%
    max-width 200px
    margin 0 auto
    display block
    border 5px solid var(--primary-color)
    border-radius 6px
    margin-bottom 12px

  h1
    font-family 'Comfortaa', cursive
    font-size 32px
    text-align center
    font-weight 400

    small
      margin-top 6px
      text-transform uppercase
      display block
      font-size 16px

.skills
  list-style-type none
  padding 20px

  > li
    margin-bottom 24px

    &:last-child
      margin-bottom 0

    h3
      font-size 16px
      font-weight 700
      line-height 1.5
      font-family 'Comfortaa', cursive

    ul
      list-style-type none

      li
        display inline-block
        padding-right 10px
        font-size 14px
        font-weight 300
        line-height 1.75

.contacts
  list-style-type none
  padding 20px

  li
    margin-bottom 12px

    i
      display inline-block
      vertical-align middle
      font-size 20px
      width 36px
      text-align center
      margin-right 2px
      line-height 26px

    a
      color inherit
      text-decoration none
      font-size 14px

.workExperience, .education, .publications, .summary
  padding 20px
  display flex
  flex-direction column
  justify-content space-between

.workExperience, .education, .summary
  padding-top 30px


.summary
  p
    line-height 1.45
    font-size 14px
    margin-bottom 8px

    &:last-child
      margin-bottom 0

.specialities
  margin-top 20px

  ul
    display flex
    flex-direction column
    padding 0 20px

    li
      display flex
      margin-bottom 20px

      .iconContainer
        min-width 65px
        text-align center
        font-size 30px
        padding-top 5px
        color var(--primary-color)

        .icon.lambda:after
          content 'λ'
          font-style normal
          font-weight 600
          font-family 'Open Sans'
          font-size 40px

      p
        line-height 1.45
        font-size 14px
        margin-bottom 8px

.motivationLetter
  padding 80px 60px

  p
    font-family 'Slabo 27px', serif
    font-size 18px
    margin-bottom 20px
    line-height 1.6
    color #4d4d4d

    &.dear
      font-weight bold

    a
      color var(--primary-color)
      text-decoration none

  .signatureWrapper
    display flex
    align-items flex-end
    justify-content space-between

    div:first-child

    div:last-child
      display flex
      flex-direction column

      p
        text-align center
        margin-top 10px
        font-weight bold

    .signature
      mix-blend-mode multiply
      transform scale(0.65) translateX(-15px)
      transform-origin 50% 100%
