.page1 {
  display: grid;
  grid-template:
    "stripes stripes" 8px
    "sidebar main" 1fr
    / 280px 1fr;
}

.page1 > :nth-child(1) {
  grid-area: stripes;
}

.page1 > :nth-child(2) {
  grid-area: sidebar;
  background-color: var(--color-primary);
  background-image: url("./background.png");
  background-position: top right;
}

.page1 > :nth-child(3) {
  grid-area: main;
  background-color: var(--color-background);
  background-image: url("./background.png");
  background-position: top left;
}
